/*--------------------------------------------------------------
# Genaral
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 100px 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-brand {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #3E3E3E;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}

/*--------------------------------------------------------------
# Header slider secation
--------------------------------------------------------------*/
.carousel-caption {
    width: 639px;
    margin: 0 auto;
    text-align: center;
}

.carousel-caption h5 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;

}

.carousel-caption p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.book-btn {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 43px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3F87F5;
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
# moment is Precious
--------------------------------------------------------------*/
.moment-detills h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
}

.moment-detills p {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

.explore-btn {
    padding: 10px 24px;
    background: #3F87F5;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.moment-detills a i {
    margin-left: 8px;
}

.alert {
    background: #FFFFFF;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    width: 320px;
    border-left-width: 6px;
    border-left-color: #3F87F5;
    border-style: solid;
    position: absolute;
    right: 0px;
    /* top: 100px; */
}

.vector {
    margin-left: 10px;
}

.booking-alert {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #505050;
    margin-left: 8px;
}


/*--------------------------------------------------------------
# Our package
--------------------------------------------------------------*/
.package {
    padding-top: 0px;
}

.package-items {
    padding: 20px;
}

.package-title h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #0A0826;
    text-align: center;
}

.package-items h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #231D4F;
    margin-bottom: 15px;
}

.package-items h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #231D4F;
    margin-bottom: 15px;
}

.package-items p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}

.package-list ul {
    margin: 0;
    padding: 0;
}

.package-list ul li {
    list-style-type: none;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}

.package-list ul li i {
    margin-right: 10px;
    color: #5243C2;
    ;
}

.package-list {
    margin-bottom: 25px;
}

.package-items a {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3F87F5;
    background: #f496d231;
    padding: 13px 50px;
    border-radius: 24px;
}

.package-items:hover {
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}

.package-items:hover h2 {
    color: white;
}

.package-items:hover h4 {
    color: white;
}

.package-items:hover p {
    color: white;
}

.package-items:hover ul li {
    color: white;
}

.package-items:hover ul li i {
    color: white;
}

.package-items:hover.package-items a {
    background: #fff;
    color: #3F87F5;
}

.hot {
    display: none;
}

.package-items:hover .hot {
    display: block;
}


/*--------------------------------------------------------------
# Happy Clients
--------------------------------------------------------------*/
.clients {
    padding-top: 0px;
}
.clients-title {
    margin-bottom: 50px;
}
.clients-title h2 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #0A0826;
}

.clients-review {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 30px;
}

.clients-review p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #6C6C6C;
    margin-bottom: 15px;
}

.clients-review h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0C1920;
    margin-top: 15px;

}

.clients-review h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #747474;
}